.input-form-registration.error {
	background-color: #F1EAEA;
	border:2px solid #FFF;
	
	background-image: url(../img/attention_red.png);
	background-repeat: no-repeat;
	background-position: 97% center;
}

#check-login {
	position: relative;
}

.absolute-position {
	position:absolute;
	left:0;right:0;
}

.top-20 {
	top:-20px;
}
